@charset "utf-8";

/*
** flexbox
------------------------------ */
.flex-1-3,
.flex-1-2-4 {
    & .item {
        & + .item {
            margin-top: calc( var(--m-base) );
        }
    }
}
.l-sec > .flex-split {
    margin-top: -40px;
    margin-bottom: -40px;
    & > .flex-1-2 > .item {
        & > .l-sec-contents {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
@media (min-width:768px) {
    .flex-row-sm,
    .flex-column-sm {
        display: flex;
    }
    .flex-column-sm {
        flex-direction: column;
    }
    .flex-1-2 {
        display: flex;
        align-items: center;
        & .item {
            width: 50%;
        }
        &.flex-reverse {
            flex-direction: row-reverse;
        }
    }
    .flex-1-3 {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        & .item {
            width: calc( 100% / 3 - ( var(--m-base) ) );
            & + .item {
                margin-top: 0;
            }
            &:nth-child(n+4) {
                margin-top: calc( var(--m-base) );
            }
            &:not(:nth-child(3n+1)) {
                margin-left: calc( var(--m-base) );
            }
        }
    }
    .flex-1-2-4 {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        & .item {
            width: calc( 100% / 2 - ( var(--m-base) / 2 ) );
            & + .item {
                margin-top: 0;
            }
            &:nth-child(n+3) {
                margin-top: calc( var(--m-base) / 2 );
            }
            &:not(:nth-child(2n+1)) {
                margin-left: calc( var(--m-base) / 2 );
            }
        }
    }
}
@media (min-width:992px) {
    .l-sec > .flex-split {
        margin-top: -80px;
        margin-bottom: -80px;
    }
    .flex-1-2-4 {
        & .item {
            width: calc( 100% / 4 - ( var(--m-base) / 2 ) );
            & + .item {
                margin-top: 0;
            }
            &:nth-child(n+5) {
                margin-top: calc( var(--m-base) / 2 );
            }
            &:not(:nth-child(4n)) {
                margin-left: calc( var(--m-base) / 2 );
            }
        }
    }
}